/* ESQUEMA DE CORES */

/* Color Theme Swatches in Hex */
.Olla-San-Antón-1-hex { color: #888C03; }
.Olla-San-Antón-2-hex { color: #F28705; }
.Olla-San-Antón-3-hex { color: #BF5B04; }
.Olla-San-Antón-4-hex { color: #401801; }
.Olla-San-Antón-5-hex { color: #F2F2F2; }

/* Color Theme Swatches in RGBA */
.Olla-San-Antón-1-rgba { color: rgba(135, 140, 2, 1); }
.Olla-San-Antón-2-rgba { color: rgba(242, 135, 4, 1); }
.Olla-San-Antón-3-rgba { color: rgba(191, 91, 3, 1); }
.Olla-San-Antón-4-rgba { color: rgba(63, 24, 1, 1); }
.Olla-San-Antón-5-rgba { color: rgba(242, 242, 242, 1); }

/* Color Theme Swatches in HSLA */
.Olla-San-Antón-1-hsla { color: hsla(61, 96, 28, 1); }
.Olla-San-Antón-2-hsla { color: hsla(33, 96, 48, 1); }
.Olla-San-Antón-3-hsla { color: hsla(28, 96, 38, 1); }
.Olla-San-Antón-4-hsla { color: hsla(22, 96, 12, 1); }
.Olla-San-Antón-5-hsla { color: hsla(0, 0, 95, 1); }



*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.banner{
    width: 100%;
    background-attachment: fixed;
    height: 100vh;
    background-image: url('../img/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden; 
    text-align: center;
}

.bg-transp{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.75;
    overflow: hidden;
}

nav{
    width: 100% !important;
    background: #401801;
    position: fixed;
    z-index: 99;
}

.menu-mobile{
    border-color: white !important;
}

.menu-mobile i{
    color: white !important;
    font-size: 24px;
}


nav ul li {
    padding: 0 10px;
    opacity: 0.9 !important;
}


nav ul li a{
    color: white !important;
    font-size: 16px;
}

nav ul li a:hover{
    color: #BF5B04 !important;
}

nav .carrinho{
    background: #F28705 !important;
    border-color: #F28705 !important;
}

nav .carrinho i{
    font-size: 20px;
}

nav .carrinho:hover{
    background: #888C03 !important;
    border-color: #888C03 !important;
    color: white !important;
}

nav .carrinho ion-icon{
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}


nav .loggout a{
    color: white;
}

nav .loggout:hover span,
nav .loggout:hover i{
    color: #BF5B04;
}


.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
  }
  .scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
  }

.chamada{
    width: 100%;
    position: relative;
    height: 100vh;
}

.chamada-content{
    z-index: 5;
    max-width: 900px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    padding: 30px;
    border-radius: 10px;
    background-color: #ffffff10;  
    backdrop-filter: blur(12px);
}

.chamada-content h1{
    font-weight: 600;
    font-size: 36px;
}

.chamada-content .lead{
    font-weight: 300;
}

.chamada-content a{
    background-color: #401801 !important;
    color: white;
    border-color: #401801 !important;
    font-weight: 300 !important;
}

.chamada-content a:hover{
    background-color: white !important;
    color: #401801;
    border-color: white !important;
}

section{
    padding-top: 80px;
    padding-bottom: 50px;
}

.titulo{
    font-size: 42px;
    width: 100%;
    background-color: #BF5B04;
    color: white;
    border-radius: 50px;
    text-align: center;
    background-image: url('../img/bg-titulo.jpg');
    background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
    position: relative; 
}

.titulo p{
    z-index: 999 !important;
    opacity: 1;
    text-shadow: 0.1em 0.1em 0.2em black
}

.titulo .bg-transp{
    border-radius: 50px;
    opacity: 0.5;
    z-index: -1;
}


.filtro{
    margin-bottom: 30px;
}


.filtro a button{
    width: 170px !important;
    border-radius: 0;
    border-bottom: 0;
    color: #212529;
    border-color: #212529;
}

.filtro a button:hover{
    background-color: #212529;
    color: #bf7e04;
    border-color: #212529;
}

.filtro a:first-child button{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.filtro a:last-child button{
    border-bottom: 1px solid #212529;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.item, .card-view{
    margin-bottom: 20px !important;
    box-shadow: 0 0 1em 0 #b7b9b9 !important;
}

.card-img {
    min-height: 150px !important;
    height: 200px !important;
    width: 100% ;
    background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
}

.card-title{
    font-size: 20px;
    color: black;
    font-weight: 800;
}

.card-description{
    font-size: 16px;
    font-weight: 300;
}

.card-price{
    font-size: 18px;
    background-color: green;
    color: white;
    position: absolute;
    top: 10px;
    left: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    display: block !important;
}

.sem-estoque{
    background-color: red;
}

.cart-mobile{
    display: block;
    position: absolute !important;
    right: 10px !important;
    top: 5px !important;
    font-size: 24px;
    
}

.cart-mobile i{
    background-color: #BF5B04;
    color: white;
    border: 1px solid #BF5B04;
    border-radius: 100px;
    padding: 5px !important;
}


.cart-mobile{
    display: none;
}


.item button,
.card-view button{
    border: 1px solid #BF5B04;
    color: #BF5B04;
    margin-bottom: 10px;
}

.item button:hover,
.card-view button:hover{
    background-color: #BF5B04;
    color: white;
}

.gray{
    filter: grayscale(1);
}

.carrinho table{
    text-align: center;
    vertical-align: middle;
}

.carrinho table tfoot th{
    font-size: 32px;
}

footer{
    width: 100%;
    background-color: #401801 !important;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 992px){
    .menu-nav li{
        border-bottom: 1px solid gray;
    }

    .item button{
        display: none;
    }

    .item .cart-mobile{
        display: block;
    }
}


@media screen and (max-width: 768px){

    .titulo{
        font-size: 24px;
    }

    .filtro a{
        color: white;
    }
    
    .filtro a button{
        margin: 1px;
        border-bottom: 1px solid #212529;
        border-color: #212529;
        border-radius: 10px;
    }

    .filtro a:first-child button{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .filtro a:last-child button{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .item{
        height: 300px !important;
    }
    
    .item .card-title{
        font-size: 18px;
    }
    
    .item .card-price{
        font-size: 14px;
    }

    .item .card-description{
        font-size: 14px;
    }

    .item button{
        display: none;
    }

    .carrinho thead{
        font-size: 14px;
    }

    .carrinho tr{
        font-size: 14px;
    }

    .carrinho table tfoot th{
        font-size: 24px;
    }

    

}